/* css Zen Garden default style v1.02 */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */

/* This file based on 'Tranquille' by Dave Shea */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */


/* basic elements */
table {
  border: 1px solid #FFFFFF;
  background-color: #;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table, tbody td {
  font-size: 13px;
}
table tr:nth-child(even) {
  background: #9cb9fb;
}
table, thead {
  background: #FAFAFA;
}
html {
	}
body { 
	font: 75% georgia, sans-serif;
	border: 5px ;
	background: #FAFAFA;
	line-height: 1.88889;
	color: #555753; 
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
