* {box-sizing: border-box}

html,
body {
  background: #FAFAFA;
  padding:0;
  margin:0;
  height: 100%;
  /*overflow-y:hidden*/
}
.intro{
  border: 12px solid #ccc;
  height: 100%;
}
.intro h2{
  color: #2a2a2a;
  font-size: 12;
  text-align: center;
}

.top_bar{
  height:40px;
  padding:0;
  margin:0;
  background: #2a2a2a
}
.top_bar img{
  max-width:100%;
  max-height:100%;
  position:relative;
  float: right;
  margin-left: 10px;

}
.tab_top{
  border: 10px;
}
.main{
  height:100%;
  width: 100%;
  overflow:hidden
}


/* Style the tab */
.tab {
  float: left;
  border: 12px solid #ccc;
  background-color:  #EAEAEA
  ;
  width: 30%;
  overflow: auto;
  max-height: 100vh;
}
.tab_top{
  font-size: 20px;
  text-align: center;
}

/* Style the buttons that are used to open the tab content */
.tablinks, .tablinks_sub {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}
.tablinks_sub{
  padding-left: 50px;
}


/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}


#selected{
  background-color: #9cb9fb
}
#myInput text{
  font-color: white;
  fill: white;
}
#content{

height:100%;
width: 70%;
padding-left : 60px;
padding-right: 20px;
position: relative;
float:left;
border: 12px solid #9cb9fb
border-radius: 15px;
-moz-border-radius: 15px;
overflow: scroll
}
#MinKNOWContainer{
  width: 90%;

}
#MinKNOWContainer img{
  max-width:100%;
  max-height: 100%
}
.sbutton, .sbutton_queryNCBI {
  -moz-box-shadow: 3px 4px 0px 0px #899599;
  -webkit-box-shadow: 3px 4px 0px 0px #899599;
  box-shadow: 3px 4px 0px 0px #899599;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
  background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
  background-color:#ededed;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:5px;
  border:1px solid #d6bcd6;
  display:inline-block;
  cursor:pointer;
  color:#3a8a9e;
  font-family:Arial;
  font-size:14px;
  padding:1px 2px;
  text-decoration:none;
  text-shadow:0px 1px 0px #e1e2ed;
}
.sbutton:hover,.sbutton_queryNCBI:hover  {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
  background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
  background-color:#bab1ba;
}
.sbutton:active, .sbutton_queryNCBI:active {
  position:relative;
  top:1px;
}

input{
  padding-bottom: 15px;
}

#default_loc{
 color:#3a8a9e;
}
.footer_space{
  height: 100px;
}
